<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:macro name="nav_camera">

    <link name="nav_camera_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.02 0.07 0.04"/>
        </geometry>
        <material name="black">
          <color rgba="0.0 0.0 0.0 1.0"/>
        </material>
      </visual>

      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
      </inertial>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.070 0.020 0.040" />
        </geometry>
      </collision>
    </link>

    <joint name="nav_cam_joint" type="fixed">
      <parent link="base_link"/>
      <child link="nav_camera_link"/>
      <origin xyz="0.135 0.0 0.170" rpy="0 0.174 0"/>
    </joint>
    
    <!-- https://github.com/ros-simulation/gazebo_ros_pkgs/wiki/ROS-2-Migration:-Camera#gazebo_ros_camera -->
    <gazebo reference="nav_camera_link">
      <sensor name="camera" type="camera">
        <always_on>true</always_on>
        <update_rate>10.0</update_rate>

        <gz_frame_id>nav_camera_link_optical</gz_frame_id>
        <topic>nav_camera/image</topic>
        <horizontal_fov>1.50098</horizontal_fov>
        <image>
            <width>320</width>
            <height>240</height>
            <format>R8G8B8</format>
        </image>
        <clip>
            <near>0.02</near>
            <far>300</far>
        </clip>        

        <!--plugin name="gz::sim::systems::Camera" filename="gz-sim6-logical-camera-system">
          <ros>
            <remapping>/camera/camera_info:=/camera/color/camera_info</remapping>
            <remapping>/camera/image_raw:=/camera/color/image_raw</remapping>
            <remapping>/camera/points:=/camera/depth/color/points</remapping>
            <remapping>/camera/depth/image_raw:=/camera/depth/image_rect_raw</remapping>
          </ros>
          <min_depth>0.015</min_depth>
          <max_depth>3.0</max_depth>
          <hack_baseline>0.07</hack_baseline>
          <frame_name>camera_depth_link</frame_name>
          <distortion_k1>0.00000001</distortion_k1>
          <distortion_k2>0.00000001</distortion_k2>
          <distortion_k3>0.00000001</distortion_k3>
          <distortion_t1>0.00000001</distortion_t1>
          <distortion_t2>0.00000001</distortion_t2>
        </plugin-->
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
  